p {
  font-family: "Segoe IU", contacto;
}
p {
  font: 100% sans-serif;
}
p {
  font: condensed 180% sans-serif;
}
header h1 {
  text-align: center; /*CENTRAR EL TEXTO */
  font-size: 30px; /*TAMAÑO DE LETRA*/
  font-weight: bold; /*NEGRITAS*/
}

.contenedor-formulario {
  position: relative;
  margin: 10px auto; /*CENTRA EL FORMULARIO DE FORMA HORIZONTAL Y DA UN MARGEN SUPERIOR E INFERORO DE 30 PX*/
  width: 400px; /*DA UN ANCHO FIJO DE 400PX AL CONTENEDOR DEL FORMULARIO*/
}

form {
  text-align: center; /*ALINEANDO TODOS LOS ELEMENTOS AL CENTRO DEL FORMULARIO*/
}

.campo-texto {
  width: 300px; /*TAMAÑO DEL INPUT */
  height: 25px; /*ALTURA DEL INPUT*/
  padding: 10px; /*ESPACIO QUE DEJA ENTRE EL BORDE DEL INPUT Y LA LETRA ESCRITA DENTRO DEL INPUT*/
  padding-left: 50px; /*ESPACIO QUE SE DA AL LADO IZQUIERDO*/
  margin-top: 10px; /*MARGEN SUPERIOR CON RESPECTO DEL ELEMENTO QUE SE ENCUENTRE POR ENCIMA*/
  font-weight: bolder; /*NEGRITAS*/
  text-align: left; /*ALINEACION DEL TEXTO*/
}

textarea.campo-texto {
	height: 100px;
  /*ESTE CSS ACTUARA SOLO SOBRE LOS ELEMENTOS TEXTAREA QUE CONTENGAN LA CLASE CAMPO TEXTO, ESTO QUIERE DECIR QUE NO AFECTARA A LOS INPUT NI A NINGUN OTRO ELEMENTO MAS QUE A LOS TEXTAREA*/
  resize: vertical; /**/
}


.submit {
  width: 180px;
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.borrar {
  width: 180px;
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  margin-top: 22px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

footer {
  height: 50px;
  text-align: center;
  line-height: 1.8;
}

footer span {
  display: inline-block;
  text-align: left;
  height: 40px;
  width: 210px;
  line-height: 40px;
  margin-top: 5px;
}
.boton {
  width: 150px;
  height: 40px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

* {
  font-family: helvetica;
}


.submit {
  width: 180px;
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.borrar {
  width: 180px;
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  margin-top: 22px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

footer {
  height: 50px;
  text-align: center;
  line-height: 1.8;
}

footer span {
  display: inline-block;
  text-align: left;
  height: 40px;
  width: 210px;
  line-height: 40px;
  margin-top: 5px;
}
.boton {
  width: 150px;
  height: 40px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

* {
  font-family: helvetica;
}

.submit {
  width: 180px;
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.borrar {
  width: 180px;
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  margin-top: 22px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

footer {
  height: 50px;
  text-align: center;
  line-height: 1.8;
}

footer span {
  display: inline-block;
  text-align: left;
  height: 40px;
  width: 210px;
  line-height: 40px;
  margin-top: 5px;
}
.boton {
	
  width: 150px;
height: 40px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

* {
  font-family: helvetica;
}
.submit {
  border-radius: 5px;
  border: none;
  background: linear-gradient(#E459DC, pink);
  color: white;
  box-shadow: 0 0 1px black;
}


.borrar {
  border-radius: 5px;
  border: none;
  background: linear-gradient(#AD00FE, purple);
  color: white;
  box-shadow: 0 0 1px black;
}

.submit:hover {
  background: linear-gradient(green, #1f2);
  transition: all 0.4s ease-out;
}
.borrar:hover {
  background: linear-gradient(blue, #54f);
  transition: all 0.4s ease-out;
}


#nombre,
#apellido,
#usuario {
