
  ul {
    list-style: none;
	    position: absolute;
  top: 7%;
  left: 10%;
;
  }
  #menu li > a {
    background-color: #D0A9F5;
    color:white;
    padding: 7px;
    display: block;
    text-decoration: none;
    min-width: 118 px;

  }
  #menu li > a:hover {
    color: #000;
    background-color: #eaeaea;
  }
  #menu > li {
    float: left;
    text-align: center;
  }
  #menu > li > ul {
    display: none;
  }
  #menu > li:hover > ul {
    display: block;
  }
  *,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

  
